    {%- if section.settings.image_large -%}
	<div class="ced-image-large">
          <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: section.settings.image_large.aspect_ratio }}%">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200', image: section.settings.image_large -%}{%- endcapture -%}
            {%- assign image_url = section.settings.image_large | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
            <noscript>
              <img src="{{ section.settings.image_large | img_url: '800x' }}" alt="{{ section.settings.image_large.alt | escape }}">
            </noscript>
          </div>
     
      </div>
   {%- endif -%}
